/* CSS Utilities */
p{
  margin: 0;
}

/* Rest of the CSS code */
.wrapper{
  width: 95%;
  margin: 2rem auto;
}

.profile-card{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
}