:root {
  --y-color: aqua;
  --main-color-1: #4097CC;
  --main-color-2: #2b2b2b;
  --y-violet: #8E44AD;
  --black-transparent: rgba(0, 0, 0, 0.5);
  --white-transparent: rgba(255, 255, 255, 0.3);
  --white: #ffffff;
  --color-line: #aeaeae;
  --color-footer: #202020;
}

p, h1, h2, h3, h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}