/* Utilies */
p, h1{
  margin: 0;
}
.f-400{
  font-weight: 400;
}
.f-700{
  font-weight: 700;
}
/* Rest of the CSS */
.wrapper{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 100vh) 20rem
}

.main-image, .about-me, .projects, .contact-me{
  grid-column: 1 / -1;
}
/*---- Main Image styles ----*/
.main-image{
  background-image: url(./Images/img-bar.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.image-layer{
  background:rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  color: white;
}
.container{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
}
/*---- NavBar Styles ----*/
.navbar{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  background-color:rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 5rem;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
}

li{
  margin: 0 1rem;
  font-size: 1.8rem;
}

/*---- About Me styles ----*/
.about-me{
  background-color: #333333;
}

/*---- Projects styles ----*/

.projects{
  background-color: #404040;
}

/*---- Contact Me styles ----*/
.contact-me{
  background-color: #2b2b2b;
}